.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
.image {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.heading_1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.arrow {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.flow_shape {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.line {
}
.box_2 {
}
.icon {
}
.c_checkbox {
  font-family:'IBM Plex Sans Normal', 'IBM Plex Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#171717;
  text-align:left;
  line-height:18px;
}
.c_checkbox__selected {
}
.c_dropdown_input {
  font-family:'IBM Plex Sans Normal', 'IBM Plex Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:left;
}
.c_dropdown_item_w_chk {
  font-family:'IBM Plex Sans Normal', 'IBM Plex Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:left;
}
.c_dropdown_separator {
}
.c_focus_control {
  text-align:left;
  line-height:normal;
}
.c_multiselect_label {
  font-family:'IBM Plex Sans Normal', 'IBM Plex Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:left;
  line-height:18px;
}
.c_multiselect_num {
  font-family:'IBM Plex Sans Normal', 'IBM Plex Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:16px;
}
.c_multiselect_num_clear {
  font-family:'Zapf Dingbats Normal', 'Zapf Dingbats';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:16px;
}
.c_spacer {
  font-family:'IBM Plex Sans Normal', 'IBM Plex Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:center;
  line-height:18px;
}
.c_text_input__disabled {
  color:#C6C6C6;
}
.c_text_input__focused {
}
.c_typo__body-short-01 {
  font-family:'IBM Plex Sans Normal', 'IBM Plex Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:left;
  line-height:18px;
}
.c_typo__heading-01 {
  font-family:'IBM Plex Sans Negrito', 'IBM Plex Sans';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:left;
  line-height:18px;
}
.c_typo__label-01 {
  font-family:'IBM Plex Sans Normal', 'IBM Plex Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:0.32px;
  color:#393939;
  text-align:left;
  line-height:16px;
}
.c__disabled-02 {
  color:#8D8D8D;
}
.c__disabled-02_text {
  color:#C6C6C6;
}
.c__hover-ui {
  color:#161616;
}
.c__hover-ui_input {
  color:#161616;
}
.c__icon-01 {
}
.c__selected-ui {
}
.c__ui-02 {
}
.c__ui-02___ui-03_line {
}
.paragraph1 {
  text-align:left;
}
.shape {
}
.line1 {
}
textarea, select, input, button { outline: none; }
